name: Post

on:
    push:
      branches:
        - main
    schedule:
        - cron: "44 * * * *"

jobs:
    post:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
            - uses: actions/setup-python@v6
              with:
                python-version: '3.12' 
            - run: pip install --upgrade pip
            - run: pip install pipenv
            - run: python -m pipenv install
            - name: Run
              run: python -m pipenv run ./post.py
              env:
                BSKY_USER: ${{ secrets.BSKY_USER }}
                BSKY_PASS: ${{ secrets.BSKY_PASS }}
